<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527290347092-lai04ae1qvrhhvg3o39gkmfr3kucg8db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527290347092-lai04ae1qvrhhvg3o39gkmfr3kucg8db</string>
	<key>API_KEY</key>
	<string>AIzaSyC5nB_9TgTy1K1p_-sm3kMR24nlNv8esUk</string>
	<key>GCM_SENDER_ID</key>
	<string>527290347092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>v.staratsitarau.travellapp</string>
	<key>PROJECT_ID</key>
	<string>travel-app-24869</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-app-24869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527290347092:ios:0c0d022e8cbb612c4d07c1</string>
</dict>
</plist>